* {
  box-sizing: border-box; }

a {
  color: white;
  text-decoration: none;
  outline: none !important; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .grid.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .grid.col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .grid > .row,
  .grid > .col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .grid > .col {
    padding-left: 10px;
    padding-right: 10px; }
  .grid > .row {
    padding-top: 10px;
    padding-bottom: 10px; }
  @media (max-width: 768px) {
    .grid.row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

body {
  border-top: 1.5em solid #FFC107;
  background-color: #FFC107;
  color: #222;
  font-family: "Open Sans";
  overflow-y: scroll;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

.wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

header {
  background-color: white;
  color: #222;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative; }
  @media (max-width: 768px) {
    header {
      text-align: center; } }
  header:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1; }
  header div {
    padding-left: 40px;
    display: inline-block;
    text-align: left;
    position: relative;
    z-index: 2; }
  header,
  header h1,
  header p.pre-heading,
  header p.tagline,
  header p.coming-soon {
    -webkit-transition: all 1s;
            transition: all 1s; }
  header p.pre-heading {
    font-family: "Times new roman", serif;
    margin: 1em 0 0 0;
    font-size: 1.5em; }
  header h1.title,
  header p.tagline {
    font-family: LogoFont, sans-serif;
    text-transform: uppercase;
    margin: 0;
    font-weight: normal; }
  header h1.title {
    font-size: 12em;
    text-shadow: 0 0 10px white; }
  header p.tagline {
    text-align: right;
    font-size: 3em;
    letter-spacing: 5px; }
  header p.coming-soon {
    font-size: 2em;
    font-weight: bold;
    text-align: center; }
  header img.witch {
    margin-left: 20px;
    max-width: 350px;
    max-height: 350px;
    -webkit-animation-name: float;
            animation-name: float;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    position: absolute;
    right: 0;
    z-index: 0; }

nav {
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); }
  nav ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    min-width: 500px;
    padding: 0 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%; }
    @media (max-width: 768px) {
      nav ul {
        width: 100%;
        min-width: auto; } }
    @media (max-width: 768px) {
      nav ul li {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        padding-left: 5px;
        padding-right: 5px; } }
    nav ul li:first-child {
      margin-left: 0; }
    nav ul li a {
      background: #00838F;
      color: white;
      display: block;
      padding: 0.8em 1.5em;
      text-decoration: none;
      cursor: pointer;
      white-space: nowrap;
      -webkit-transition: box-shadow 0.2s, background-color 0.2s;
              transition: box-shadow 0.2s, background-color 0.2s;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12); }
    nav ul li a:hover {
      box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15); }
    nav ul li.active a {
      background-color: #30B3BF; }

main {
  background-color: #FFC107;
  color: #222;
  padding-bottom: 1em;
  position: relative;
  z-index: 1; }
  main section {
    font-size: 1.5em;
    display: none; }
  @media (max-width: 768px) {
    main {
      text-align: center; } }
  main #contact .col {
    padding: 10px; }
  main #contact .social-icon {
    max-height: 1em; }
  main #sponsors .col {
    min-width: 250px; }
  main #sponsors img {
    background-color: white; }

footer {
  background-color: #FFB300;
  color: #222;
  border-top: 1px solid white;
  box-shadow: 0 0 6px 0 white;
  padding: 0.5em 1em; }

.content-loaded header {
  padding-top: 0; }
  .content-loaded header h1 {
    font-size: 6em; }
  .content-loaded header p.pre-heading,
  .content-loaded header p.tagline,
  .content-loaded header p.coming-soon {
    font-size: 0; }

@-webkit-keyframes float {
  from {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px); }
  65% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px); }
  to {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px); } }

@keyframes float {
  from {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px); }
  65% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px); }
  to {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px); } }

.marker {
  border-top: 2px solid #00838F;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  position: relative; }
  .marker .arrow {
    width: 10px;
    height: 10px;
    position: absolute;
    -webkit-transform: translateY(-6px) translateX(-6px) rotate(45deg);
        -ms-transform: translateY(-6px) translateX(-6px) rotate(45deg);
            transform: translateY(-6px) translateX(-6px) rotate(45deg);
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    background-color: #FFC107;
    border-top: 1px solid #00838F;
    border-left: 1px solid #00838F; }
  @media (max-width: 768px) {
    .marker {
      width: 100%;
      min-width: auto; } }
